{% extends "base.html" %}
{% load form_extras %}
{% block title %}{% if object %}Edit{% else %}New{% endif %} Patient - Clinic{% endblock %}
{% block content %}
<section class="card">
    <h1 class="h2 mb-4">{% if object %}Edit{% else %}New{% endif %} Patient</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="grid grid-2 gap-4">
            <div>
                <label class="label">First name</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                <div class="help">{{ form.first_name.errors|striptags }}</div>
                {% endif %}
            </div>
            <div>
                <label class="label">Last name</label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                <div class="help">{{ form.last_name.errors|striptags }}</div>
                {% endif %}
            </div>

            <div>
                <label class="label">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                <div class="help">{{ form.email.errors|striptags }}</div>
                {% endif %}
            </div>

            <div>
                <label class="label">Phone number</label>
                {{ form.phone }}
            </div>
            <div>
                <label class="label">Date of Birth</label>
                {{ form.dob }}
            </div>
        </div>
        <div class="mt-4 flex gap-2">
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn" href="{% url 'patients:list' %}">Cancel</a>
        </div>
    </form>
</section>

{% endblock %}
